#canvas {
    /*border: 10px solid transparent;*/
    background: #FFFFFF;

}

.img-responsive {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	min-height: 768px;
        min-width: 1024px;
	max-height: 768px;
        maX-width: 1024px;	
}
.rectangle {  
    border: 4px solid #FF0000;
    background: rgba(255,0,0,0.3);
    position: absolute;
    height: 50px;
    width: 50px;
    color: yellow;
    font-weight: bold;
}

.close-btn { 
    border: 2px solid #c2c2c2;
    position: absolute;
    padding: 1px 5px;
    visibility: hidden;
    top: -14px;
    background-color: #FF0000; 
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    visibility: inherit;
    text-decoration: none;
}

.well {
	max-width: 400px;
	min-width: 400px;
}

.col-sm-4 {
	min-width: 420px;
	max-width: 420px;
	width: 95%;

}

table, td {
    border: 1px outset #E6E6E6;
    border-collapse: collapse;
}

table {
	min-width: 360px;
	max-width: 360px;
}

textarea {
	width: 100%;
	resize: none;
}

select {
	width: 100%;
}



