.well {
	/*border: solid #283856 2px;
	*/
	background-color: rgba(250, 250, 250, 0.5);
	color: white;
}

#well1 {
	background-color: rgba(1, 1, 1, 0.1)!important;
}
	
body {
	background-color: rgba(56, 56, 56, 1);
}

img {	
	width: 100%;

}

