.well {
	background-color: rgba(1, 1, 1, 0.3) ;
	color: white;
}

body {
	color: white;
	background-image: url('../images/wildlife_background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-color: rgba(56, 56, 56, 1);
*/
}

img {
	border:1px solid;	
	width: 100%;
}

.page-header {
	margin-top: 60px;
{
