#canvas {
    /*border: 10px solid transparent;*/
    background: #FFFFFF;

}

#selection-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close {
    opacity: 0.6;
}

.progress-bar-transparent {
    opacity: 0;
    background-color: transparent;
    background: transparent;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    margin-right: 20px;
    float: left;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

.rectangle {  
    border: 4px solid #FF0000;
    background: rgba(255,0,0,0.3);
    position: absolute;
    height: 50px;
    width: 50px;
    color: yellow;
    font-weight: bold;
}

.close-btn { 
    border: 2px solid #c2c2c2;
    position: absolute;
    padding: 1px 5px;
    visibility: hidden;
    top: -14px;
    background-color: #FF0000; 
    border-radius: 20px;
    cursor: normal;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    visibility: inherit;
    text-decoration: none;
    cursor: normal;
}

table, td {
    border: 1px outset #E6E6E6;
    border-collapse: collapse;
}

table {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
}

select {
    width: 100%;
}

.nothing-here-box {
    display: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*.number {
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
color: yellow;
font-weight: bold;
position: absolute;
left: 0px;
top: 0px;
}*/
