<div class='row-fluid' style="display:table;">
    <div class='span6' style="display:table-cell; vertical-align:bottom; float:none; padding-right:5px;">
        <div class='row-fluid'>
            <video style='width:100%;' id='wildlife-video-{{video_id}}' start_time='{{start_time}}' controls='controls' preload='auto'>
            <source src='http://wildlife.und.edu/{{video_file}}.ogv' type='video/ogg'>
            <source src='http://wildlife.und.edu/{{video_file}}.mp4' type='video/mp4'>
            This video requires a browser that supports HTML5 video.
            </video>
        </div> <!--row-fluid-->

        <div class='row-fluid' id='wildlife-video-buttons-{{video_id}}'>
            <button class='btn btn-primary span5 pull-left fast-backward-button' style='margin-top:0px;' video_id='{{video_id}}'>
                <i class='icon-backward icon-white'></i>
            </button>

            <div class='span2'>
                <input style='width:100%; padding:3px; margin:1px;' type='text' id='speed-textbox-{{video_id}}' value='speed: 1' readonly='readonly'></input>
            </div>

            <button class='btn btn-primary span5 pull-right fast-forward-button' style='margin-top:0px;' video_id='{{video_id}}'>
                <i class='icon-forward icon-white'></i>
            </button>
        </div> <!--row-fluid-->
    </div> <!--span6-->

    <div class='span6' style="display:table-cell; float:none; padding-left:5px;">
        <div class='row-fluid'>
            <div class='event-list-div' video_id='{{video_id}}' id='event-list-div-{{video_id}}' video_filename="{{video_file}}"></div>
            <button class='btn btn-small btn-primary pull-left new-observation-button' id='new-observation-button-{{video_id}}' video_id='{{video_id}}'>New Event</button>
        </div>
    </div>  <!-- span 6 -->
</div> <!--row fluid-->
