<div class='container'>
	<div class='row'>
		<div class='col-sm-6'>
			{{#well}}
			<div class='well well-sm'>
				<ol>
				{{#list}}
					<li>{{item1}}: {{item2}} </li>
				{{/list}}
				</ol>
				<video style='width:95%;' id='wildlife_video' controls='controls'>
					<source src='{{video}}.mp4' type='video/mp4'>
					<source src='{{video}}.ogv' type='video/mp4'>
					<source src='{{video}}.wmv' type='video/mp4'>
				</video>
			</div>
			{{/well}}
		</div>
		<div class='col-sm-6'>
			{{#well2}}
			<div class='well well-sm'>
				<ol>
				{{#list2}}
					<li>{{item3}}: {{item4}} </li>
				{{/list2}}
				</ol>
				<video style='width:95%;' id='wildlife_video2' controls='controls'>
					<source src='{{video2}}.mp4' type='video/mp4'>
					<source src='{{video2}}.ogv' type='video/mp4'>
					<source src='{{video2}}.wmv' type='video/mp4'>
				</video>
			</div>
			{{/well2}}
		</div>
	</div>
</div>
