<div class='row' style="display:table;">
    <div class='col-sm-6' style="display:table-cell; vertical-align:bottom; float:none; padding-right:5px;">
        <div class='row' style='margin-left:0px; margin-right:0px;'>
            <video style='width:100%;' id='wildlife-video-{{video_id}}' start_time='{{start_time}}' controls='controls' preload='auto'>
            <source src='http://wildlife.und.edu/{{video_file}}.ogv' type='video/ogg'>
            <source src='http://wildlife.und.edu/{{video_file}}.mp4' type='video/mp4'>
            This video requires a browser that supports HTML5 video.
            </video>
        </div> <!--row-->

        <div class='row' id='wildlife-video-buttons-{{video_id}}' style='margin-left:0px; margin-right:0px;'>
            <button class='btn btn-primary col-sm-5 pull-left fast-backward-button' style='margin-top:2px;' video_id='{{video_id}}'>
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>

            <div class='col-sm-2' style='padding:0px;'>
                <input style='width:100%; padding:3px; margin:1px;' type='text' id='speed-textbox-{{video_id}}' value='speed: 1' readonly='readonly'></input>
            </div>

            <button class='btn btn-primary col-sm-5 pull-right fast-forward-button' style='margin-top:2px;' video_id='{{video_id}}'>
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div> <!--row-->
    </div> <!--col-sm-6-->

    <div class='col-sm-6' style="display:table-cell; float:none; padding-left:5px;">
        <div class='row' style='margin-left:0px; margin-right:0px;'>
            <div class='event-list-div' video_id='{{video_id}}' id='event-list-div-{{video_id}}' video_filename="{{video_file}}"></div>
            <button class='btn btn-sm btn-primary pull-left new-observation-button' id='new-observation-button-{{video_id}}' video_id='{{video_id}}'>New Event</button>
            <button class='btn btn-sm btn-warning pull-right revalidate-events-button {{#needs_revalidation}}disabled{{/needs_revalidation}}' video_id='{{video_id}}'>{{#needs_revalidation}}Revalidation Pending{{/needs_revalidation}}{{^needs_revalidation}}Revalidate Events{{/needs_revalidation}}</button>

            {{#regular_user}}
                <br>
                <br>

                <div class='report-comments-div hidden' id='report-comments-div-{{video_id}}'>
                    <b id='report-comments-title-{{video_id}}'>Observation reported:</b>
                    <textarea style='width:98%;' rows=6 class='report-comments' id='report-comments-{{video_id}}' video_id={{video_id}}> </textarea>
                </div>
                <button class='btn btn-sm btn-success pull-right submit-report-button disabled hidden' id='submit-report-button-{{video_id}}' video_id='{{video_id}}'>Submit Report</button>

                <div class='response-comments-div hidden' id='response-comments-div-{{video_id}}'>
                    <b id='response-comments-title-{{video_id}}'>Expert response:</b>
                    <textarea readonly style='width:98%;' rows=6 class='response-comments' id='response-comments-{{video_id}}' video_id={{video_id}}> </textarea>
                </div>

            {{/regular_user}}
        </div>
    </div>  <!-- span 6 -->
</div> <!--row fluid-->

{{#display_other_observations}}
<hr>
<div class='row' style="display:table;">
    <div class='col-sm-12' style="display:table-cell; vertical-align:top; float:none; padding-right:5px;">
        {{^regular_user}}
            <h4>Events From Other Users:</h4>
        {{/regular_user}}
        <table class='table table-striped table-bordered table-condensed all-observations-table' video_id={{video_id}}>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Event</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Comments</th>
                    <th>Tags</th>
                    <th>Status</th>
                    {{#regular_user}}
                    <th>Report?</th>
                    {{/regular_user}}
                    {{^regular_user}}
                    <th>View Report</th>
                    {{/regular_user}}
                </tr>
            </thead>

            <tbody>
            {{#other_observations}}
                <tr>
                    <td>{{{user_name}}}</td>
                    <td>{{event_type}}</td>
                    <td>{{start_time}}</td>
                    <td>{{end_time}}</td>
                    <td>{{comments}}</td>
                    <td>{{tags}}</td>
                    <td>{{status}}</td>

                    {{#regular_user}}
                    <td style='text-align:center;'>
                        <button class='btn btn-sm {{#unreported}}btn-danger{{/unreported}} {{#reported}}btn-warning{{/reported}} {{#responded}}btn-success{{/responded}} pull-center report-observation-button rob-{{video_id}}' observation_id='{{id}}' video_id='{{video_id}}' style='margin-top:2px; margin-bottom:2px; padding:0px; width:25px;' report_comments_text="{{report_comments}}" report_status="{{report_status}}" reporter_name="{{reporter_name}}" response_comments_text='{{response_comments}}' responder_name='{{responder_name}}'><i class='{{^responded}}icon-question-sign{{/responded}} {{#responded}}icon-ok-sign{{/responded}} icon-white'></i></button>
                    </td>
                    {{/regular_user}}
                    {{^regular_user}}
                    <td style='text-align:center;'>
                        <button class='btn btn-sm {{#unreported}}btn-info{{/unreported}} {{#reported}}btn-warning{{/reported}} {{#responded}}btn-success{{/responded}} pull-center expert-respond-button erb-{{video_id}}' observation_id='{{id}}' video_id='{{video_id}}' style='margin-top:2px; margin-bottom:2px; padding:0px; width:25px;' report_comments_text="{{report_comments}}" report_status="{{report_status}}" reporter_name="{{reporter_name}}" response_comments_text='{{response_comments}}' responder_name='{{responder_name}}'><i class='{{^responded}}icon-question-sign{{/responded}} {{#responded}}icon-ok-sign{{/responded}} icon-white'></i></button>
                    </td>
                    {{/regular_user}}
                </tr>
            {{/other_observations}}
            </tbody>
        </table>
    </div>
</div> <!--row fluid-->
{{/display_other_observations}}

{{#display_old_observations}}
<hr>
<div class='row' style="display:table;">
    <div class='col-sm-12' style="display:table-cell; vertical-align:top; float:none; padding-right:5px;">
        <h4>Events From Old Interface:</h4>
        <table class='table table-striped table-bordered table-condensed'>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Event</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
            {{#old_observations}}
                <tr>
                    <td>{{user_name}}</td>
                    <td>{{event_type}}</td>
                    <td>{{start_time}}</td>
                    <td>{{end_time}}</td>
                    <td>{{comments}}</td>
                </tr>
            {{/old_observations}}
            </tbody>
        </table>
    </div>
</div> <!--row fluid-->
{{/display_old_observations}}
