<div class='well' style='margin-top:20px;'>
    <h3>Active Projects</h3>
    <p>Feel free to scroll through our image gallery above to get a better idea of what is going on with the project and see the field biologists in action, talk to us on the <a href='./forum_index.php'>message boards</a>, or watch videos about the project on our <a href='https://plus.google.com/118091968152392210151' rel='publisher'>Google+ YouTube Channel</a>. The following projects are actively being worked on by these Wildlife@Home team members:</p>
    <ul>
        <li>Alicia Andes - <a href='alicia_project.php'>Refined Monitoring Techniques to Understand Least Tern and Piping Plover Nest Dynamics</a></li>
        <li>Paul Burr - <a href='paul_project.php'>Sharp-tailed Grouse Nest Predation Relative to Gas and Oil Development in North Dakota</a></li>
        <li>Rebecca Eckroad - <a href='becca_grouse_project.php'>Nest Cameras and Citizen Science: Implications for evaluating Sharp-tailed Grouse Nesting Ecology</a></li>
        <li>Kyle Goehner - <a href='kyle_project.php'>Automated Wildlife Detection in Uncontrolled Environments</a></li>
    </ul>
</div> <!-- well -->

<div class='well' style='margin-top:20px;'>
    <h3>Contact Information</h3>
    <p>Please email any questions or suggestions to <a href='mailto:tdesell@cs.und.edu'>Travis Desell</a>, or feel free to post a message in our <a href='../csg/forum_index.php'>forums</a>.</p>

    <p>
    The Wildlife@Home team includes:
    <ul>
        <li>
        <a href='http://people.cs.und.edu/~tdesell/'>Travis Desell</a>, Assistant Professor of Computer Science, University of North Dakota
        </li>

        <li>
        <a href='http://arts-sciences.und.edu/biology/faculty/susan-felege.cfm'>Susan Ellis-Felege</a>, Assistant Professor of Biology, University of North Dakota 
        </li>

        <li>
        <a href='http://arts-sciences.und.edu/biology/faculty/chris-felege.cfm'>Chris Felege</a>, Educational Outreach Coordinator, Instructor of Biology, University of North Dakota 
        </li>

        <li>
        Alicia Andes, Graduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Paul Burr, Graduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Becca Eckroad, Undergraduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Kyle Goehner, Graduate Research Assistant in Computer Science, University of North Dakota
        </li>

        <li>
        Leila Mohsenian, Undergraduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Rebecca VanderClute, Undergraduate Research Assistant in Computer Science, University of North Dakota
        </li>
    </ul>

    With agency support from:

    <ul>
        <li>
        Aaron Robinson, North Dakota Game and Fish.
        </li>

        <li>
        Terry Shaffer, U.S.G.S. Northern Prairie Wildlife Research Center.
        </li>

        <li>
        Mark Sherfy, U.S.G.S. Northern Prairie Wildlife Research Center.
        </li>
    </ul>


    With previous support from:
    <ul>
        <li>
        Robert Bergman, Graduate Research Assistant in Computer Science, University of North Dakota
        </li>

        <li>
        Adam Pachl, Undergraduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Julia Johnson, Undergraduate Research Assistant in Biology, University of North Dakota
        </li>

        <li>
        Nitin Karodiya, Graduate Research Assistant in Computer Science, University of North Dakota
        </li>

        <li>
        Eric Kjeldergaard, Graduate Research Assistant in Computer Science, University of North Dakota
        </li>
    </ul>
    </p>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Publications</h3>
    <p>
    All publications, talks and posters about DNA@Home can be viewed on the Citizen Science Grid's <a href='../csg/publications.php'>publications page</a>.
    </p>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Support</h3>

    <div class='row'>
        <div class='col-sm-3'>
            <p align=center>
            <a href='http://www.nsf.gov/'><img class ='img-responsive floating' border='0' src='http://volunteer.cs.und.edu/wildlife/images/nsf1.png' width ='83' height='83' alt='Funded through a grant from the National Science Foundation (NSF).' /></a>
            </p>
        </div>
        <div class='col-sm-9'>
            <p>
            Wildlife@Home is currently being supported by <a href='http://www.nsf.gov/awardsearch/showAward?AWD_ID=1319700&HistoricalAwards=false'>NSF award no. 1319700</a> through the <a href='http://www.nsf.gov/div/index.jsp?div=IIS'>Division of Intelligent Information Systems</a>'s Information Integration and Informatics (III) program.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-3'>
            <p align=center>
            <a href='http://und.edu'><img class='img-responsive' src='http://volunteer.cs.und.edu/wildlife/images/und_logo.png'></a>
            </p>
        </div>
        <div class='col-sm-9'>
            <p>
            Wildlife@Home has been generously supported by a collaborative research award and new faculty SEED grant from UND's Office of Research Development and Compliance. The project's video streaming server is hosted by UND's <a href='http://crc.und.edu'>Computational Research Center</a> and the volunteer computing server is hosted by UND's <a href='http://www.aero.und.edu/about/SCC.aspx'>Scientific Computing Center</a>.
            </p>
        </div>
    </div>
    <br>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://gf.nd.gov'><img class='img-responsive' src='http://volunteer.cs.und.edu/wildlife/images/ndgf_logo.png'></a>
        </div>
        <div class='col-sm-9'>
            North Dakota Game and Fish has provided financial support for field logistics to collect sharp-tailed grouse videos.
        </div>
    </div>
    <br>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://www.npwrc.usgs.gov'><img class='img-responsive' src='http://volunteer.cs.und.edu/wildlife/images/usgs_logo.png'></a>
        </div>
        <div class='col-sm-9'>
            USGS has provided financial support for camera equipment, video storage, and field assistance to collect data for the piping plover and interior least tern.
        </div>
    </div>
    <br>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://boinc.berkeley.edu/' class='img-responsive' style='display:block; margin-left:auto; margin-right:auto;'><img src='http://volunteer.cs.und.edu/wildlife/img/pb_boinc.gif' alt='Powered by BOINC'></a>
        </div>
        <div class='col-sm-9'>
            <p>
            Wildlife@Home is in part powered by the <a href='http://boinc.berkeley.edu/'>Berkeley Open Infrastructure for Network Computing (BOINC)</a>.
            </p>
        </div>
    </div>


</div> <!-- well -->

